{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
My name is Andrei Lapshin and this is my blog where I write about things I 
found interesting (mostly Android development). If you have some questions you
can reach me using one of my contacts.
<div class="d-flex justify-content-center">
    <div>
        <span class="fa fa-github" aria-hidden="true"></span><a href="https://github.com/alapshin">alapshin</a>
    </div>
    <div>
        <span class="fa fa-twitter" aria-hidden="true"></span><a href="https://twitter.com/alapshindev">alapshindev</a>
    </div>
</div>
{% endblock %}
