{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_title %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="d-flex flex-column flex-fill">
        <div class="flex-fill">
            {% for child in this.pagination.items %}
                {{ render_blog_title(child) }}
            {% endfor %}
        </div>
        <div>
            {{ render_pagination(this.pagination) }}
        </div>
    </div>
{% endblock %}
