{% from "macros/navigation.html" import render_navigation %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ '/static/styles.css'|url }}">
        <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
        <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    </head>
    <title>{% block title %}{% endblock %}</title>
    <body class="d-flex flex-column">
        <header class="header">
            {{ render_navigation(this) }}
        </header>
        <div class="container d-flex flex-column flex-fill">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer mb-2 mt-auto">
            <div class="container text-center">
                &copy Andrei Lapshin
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                <br>
                All content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                <br/>
                Built with <a href="https://www.getlektor.com/">Lektor</a>
            </div>
        </footer>
        <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
    </body>
</html>
